In [ ]:
Q1:
Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
#Ans1:
test1='This is a test of the emergency text system'
with open('test.txt', 'w') as f:
    f.write(test1)
    f.close()
    
print(test1)

This is a test of the emergency text system

In [10]:
#file content
f=open('test.txt')
R=f.read()
f.close()

print(R)

This is a test of the emergency text system

In [ ]:
Q2:
Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [40]:
#Ans2:
with open('test.txt') as f:
    test2=f.read()
    f.close()
print(test2)
if test1==test2:
    print('True')
else:
    print("False")

This is a test of the emergency text system
True

In [ ]:
Q3:
Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [22]:
#Ans3:
data= """title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992"""

with open('books.csv', 'w', encoding='utf-8') as f:
    f.write(data)
    f.close()

In [ ]:
Q4:
Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: 
title (text), author (text), and year (integer).

In [20]:
#Ans4:
import sqlite3
db = sqlite3.connect('books.db')
cursor=db.cursor()
cursor.execute("CREATE TABLE books (title text, author text, year int)")
db.commit()
db.close()

In [ ]:
Q5:
Read books.csv and insert its data into the books table.

In [39]:
#Ans5:
import sqlite3
import csv
db=sqlite3.connect('books.db')
cursor=db.cursor()
with open('books.csv', 'r') as file:
    reader = csv.DictReader(file)
    for row in reader:
        cursor.execute("INSERT INTO books VALUES (?,?,?)",(row['title'],row['author'],row['year']))
        
db.commit()
db.close()

In [ ]:
Q6:
Select and print the title column from the books table in alphabetical order.

In [33]:
#Ans6:
import sqlite3
db=sqlite3.connect("books.db")
cursor=db.cursor()
g=cursor.execute("SELECT * FROM books ORDER BY title ASC")
for t in g:
    print(t[0])
    
db.commit()
db.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

In [ ]:
Q7:
From the books table, select and print all columns in the order of publication.

In [34]:
#Ans7:
import sqlite3
db=sqlite3.connect("books.db")
cursor=db.cursor()
g=cursor.execute("SELECT * FROM books ORDER BY year ASC")
for t in g:
    print(t)
    
db.commit()
db.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [ ]:
Q8:
Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [35]:
#Ans8:
import sqlalchemy
db=sqlalchemy.create_engine("sqlite:///books.db")
db

Engine(sqlite:///books.db)

In [ ]:
Q9:
Install the Redis server and the Python redis library (pip install redis) on your computer.
Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [2]:
#Ans9:
!pip install redis

Requirement already satisfied: redis in c:\users\fhrt8\appdata\local\programs\python\python311\lib\site-packages (4.5.5)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\fhrt8\appdata\local\programs\python\python311\lib\site-packages (from redis) (4.0.2)

In [ ]:
import redis
connection = redis.Redis()
connection.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})
connection.hgetall('test')

In [ ]:
Q10:
Increment the count field of test and print it.

#Ans10:
connection.hincrby('test', 'count', 1)
connection.hget('test', 'count')